################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/elmah.1.2.2
/packages/elmah.corelibrary.1.2.2
/WebAppLoggingErrorsWithELMAH/bin/
/WebAppLoggingErrorsWithELMAH/obj/
