################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/elmah.corelibrary.1.2.2/lib/Elmah.dll
